/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Raleway', sans-serif;
     background-color: var(--yellow-color);
     font-size: 1rem;
     overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: black;
}

.butt-body{
  background-color: var(--teal-color);
}

.middle-container{
     max-width: 1100px;
     margin: 0 auto;
     position: relative;
}

main {
  background-color: var(--offwhite-color);
}

:root {
/* OLD COLORS
   --pink-color: #F43A81;
  --teal-color: #1CB0A9; */

  --pink-color: #c64191;
  --teal-color: #1CB0A9;
  --yellow-color: #FEC601;
  --darkgreen-color: #1A5E63;
  --offwhite-color: #F3F3F4;
}


/******************************************
/* LAYOUT
/*******************************************/


header {
     background-color: #c6419189;
     height: 550px;
     position: relative;
     overflow: hidden;
     width: 100%;
}

.sub-page-header {
  height: 74px;
  width: 100%;
  background-color: var(--pink-color);
  overflow: visible;
  z-index: 4;
}

.head-vid {
  z-index: -1;
  position: absolute;
  height: 550px;
  width: 100vw;
  object-fit: cover;
}



header li:hover {
  background-color: #a82e77;
  transition: all 0.3s ease;
  border-radius: 20px 20px 20px 20px;
}

.dropdown {
  position: relative;
  display: flex;
  z-index: 22;
}

.dropdown:hover {
  background-color: #a82e77;
  transition: all 0.3s ease;
  border-radius: 20px 20px 0 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--pink-color);
  list-style-type: none;
  padding: 0;
  z-index: 1;
  white-space: nowrap;
  border-radius: 0 0 20px 20px;
  width: max-content;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}

.dropdown-menu li a {
  display: block;
  color: var(--offwhite-color);
  text-decoration: none;
  font-weight: 800;
  text-shadow: 4px 4px 4px var(--pink-color);
}

.dropdown-menu li:hover {
  background-color: #a82e77;
  border-radius: 0 0 0 0;
}

.dropdown-menu li:last-child:hover {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

header h1 {
  color: var(--offwhite-color);
  font-size: clamp(2rem, 5vw, 5rem);   
  font-weight: 900;
  text-shadow: 4px 4px 4px var(--pink-color);
}

header span {
  color: var(--offwhite-color);
  text-shadow: 4px 4px 4px var(--pink-color);
  font-weight: 500;

}

header > div {
  position: absolute;
  right: 1px;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  padding-top: 5em;
  padding-bottom: 7em;  
  padding-right: 1em;

  z-index: 5;
}

li {
  padding: 6px;
}
hr {
  height: 4px;  
  border: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #FEC601 50%, rgba(255,255,255,0) 100%); 
}

header > div > * {
  z-index: 5;
}

header nav > ul {
     display: flex;
     justify-content:space-between;
     list-style: none;
     color: var(--offwhite-color);
     text-shadow: 4px 4px 4px var(--pink-color);
     padding: 0 20px;
     z-index: 2;
}

header nav > ul > li {
     color: var(--offwhite-color);
     text-align: center;
     list-style: none;
     font-size: 24px;  
     white-space: nowrap;
     min-width: 0;
     padding: 25px 10px;

     z-index: 5;
}

nav > ul > li > a {

     color: var(--offwhite-color);
     text-decoration-line: none;
     font-weight: 800;
     min-width: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


footer {
  background-color: var(--teal-color);
  color: var(--offwhite-color);
  padding: 2em;
  font-size: 0.8em;
  text-align: center;
  height: 270px;

}

.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

}

.footer-left {
  grid-column: 1/2;

  display: grid;
  grid-template-rows: repeat(2);
  align-items: center;
  justify-content: center;
}

.footer-left img {
  display: grid;
  justify-self: center;
  height: 150px;
  border-radius: 10%;
  border: 0.5rem solid;
  grid-row: 2/3;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px ;
  padding: 0;
}

.social-icons img {
  height: 30px;
  width: 33px;
  border: 0;
}

.social-icons li {
  font-size: 30px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: var(--offwhite-color);
}

.footer-center {
  display: grid;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.footer-center i {
  font-size: 40px;
}

.footer-right {
   justify-self: right;
}

.foot-nav{
  text-align: left;
}

.foot-nav li{
  margin: 0;
  padding: 2px;
  font-size: 17px;
  font-weight: 700;
}

.foot-nav a{
  text-align: left;
  text-decoration: none;
  color: var(--offwhite-color);
}

.footer-right  .foot-nav  .current-page{
  color: var(--pink-color);
}

.random-tidbits li{
  list-style-type: "🐾";
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.bio {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: left;
}

.bio-text p {
  font-size: 1.3rem;
  padding: 10px;
}

.profilepic {
  grid-column: 1/2;
  display: grid;
  position: sticky;
  top: 50px;
  height: 180px;
  justify-self: right;
  margin: 0 2em;

}

.cat {
    display: grid;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

 .profilepic > img {

    top: 0;
    height: 180px;
    margin: 1em 2em;
    border: 12px solid var(--yellow-color);
    border-radius: 15px;

}

.bio-text{
  grid-column: 2/3;
  font-weight: 500;
}


.bio-text > ul {
    list-style-type: "";
  }

.bio-text > * {
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--darkgreen-color);
}

.bio-text > h4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin: 0 60px;
  padding: 0;

}



/******************************************
/* IMAGE GALLERY CODE
/*******************************************/
  
#image-gallery {
  width: 600px;
  margin: 2px auto;
  position: relative;
}

/* Hide the hamburger button by default */
.hamburger {
  display: none;
}

/* Style the hamburger button */
.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Style the mobile menu */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the dropdown menu */
.dropdown-menu {
  display: none;
}

/* Make the dropdown menu visible on hover on larger screens */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Style the menu for mobile */
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .show-menu .menu {
    display: block;
  }
}

#current-image,
#current-butt-bts-image,
#current-butt-image,
#current-norm-image,
#current-garden-image,
#current-garden-bts-image,
#current-plug-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#current-butt-image,
#current-norm-image,
#current-butt-bts-image,
#current-garden-image,
#current-garden-bts-image,
#current-plug-image {
  height: 400px;
  object-fit:cover;
}


#description {
  position: absolute;
  top: 16px;
  right: 0;
  width: 50%;
  background-color: #1cb0a9e1;
  overflow: hidden;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 0 20px 0 0;
  pointer-events: none;
}

#description span {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: justify;
  color: black;
}

#description a {
  text-decoration: none;
  color: var(--pink-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0 0 1em var(--pink-color), 0 0 0.2em var(--pink-color);  
}

#description a:hover {
  color: rgb(255, 141, 179);
  text-shadow: 1px 1px 2px black, 0 0 1em var(--pink-color), 0 0 0.2em var(--pink-color);  
  transition: 0.5s;
  
}

#image-wrapper:hover #description {
  opacity: 1;
}

#image-thumbs,
#norm-thumbs,
#butt-bts-thumbs, 
#butt-thumbs,
#garden-thumbs,
#garden-bts-thumbs,
#plug-thumbs  {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 20px 10px;
  background-color: var(--yellow-color);
}


#butt-thumbs-wrapper,
#norm-thumbs-wrapper,
#image-thumbs-wrapper,
#garden-bts-thumbs-wrapper,
#garden-thumbs-wrapper,
#plug-thumbs-wrapper  {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--yellow-color);
  border-radius: 0 0 20px 20px;
}

.scroll-arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
}

.thumb {
  width: 140px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#current-image.fade-out,
#current-butt-bts-image.fade-out,
#current-butt-image.fade-out,
#current-norm-image.fade-out,
#current-garden-image.fade-out,
#current-garden-bts-image.fade-out,
#current-plug-image.fade-out    {
  animation: fadeOut 0.3s forwards;
}

#current-image.fade-in,
#current-norm-image.fade-in,
#current-butt-bts-image.fade-in,
#current-butt-image.fade-in,
#current-garden-bts-image.fade-in,
#current-garden-image.fade-in,
#current-plug-image.fade-in  {
  animation: fadeIn 0.3s forwards;
}


/******************************************
/* VOICE OVER PAGE
/*******************************************/

main {
  padding: 50px 0;
  text-align: center;
}

h1,
h2 {
  font-size: 100px;
  color: var(--teal-color);
  text-shadow: 2px 2px 2px var(--pink-color);
  font-weight: 600;
}

h2{
  margin: 50px;
}

h4,
h3{
  margin: 10px 0;
  font-weight: 700;
}

h3 {
  margin-top: 80px;
  font-size: 1.6rem;
}

audio{
  width: 400px;
  background-color: #00848d;
}

blockquote {
  background-image: linear-gradient(to top, var(--yellow-color) 70%, var(--offwhite-color) 40%);
  padding-bottom: 20px;
  text-align: left;
  position: relative;
}

blockquote p {
  margin: 40px 20%;
  padding: 25px;
  box-shadow: 5px 5px 5px var(--darkgreen-color);
  border: 5px solid var(--teal-color);
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: var(--offwhite-color);
}

blockquote span {
  margin: 0 20% 0 25%;
  font-size: clamp(.8em, 2vw, 2em);
  font-weight: 600;
}

blockquote i {
  position:absolute;
  top: -35px;
  left: 18%;
  font-size: 80px;
  text-shadow: 2px 2px 2px var(--darkgreen-color);
}

blockquote .fa-quote-right {
  position: absolute;
  top: 40%;
  left: 75%;
}

.small-images img {
  height: 212px;
  width: 212px;
  margin: 30px;
}

.video-columns {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.video-column-one {
  display: grid;
  grid-column: 2/3;
  justify-items: center ;
  margin-bottom: 50px;
}

.video-column-two {
  display: grid;
  grid-column: 3/4;
  justify-items: center;
  margin-bottom: 50px;
}

.video-column-one iframe,
.video-column-two iframe {
  width: 80%;
  height: 251px;
}

.video-columns:before,
.video-columns:after {
  content: "";
  background-image: 
    linear-gradient(var(--offwhite-color)30%, 
          var(--pink-color)30%, 
          var(--pink-color)50%, 
          var(--yellow-color)50%, 
          var(--yellow-color)70%,
          var(--teal-color)70%,
          var(--teal-color)90%,
          var(--offwhite-color)90%);
}

.video-columns:before {
  grid-column: 1 / 2;
}

.video-columns:after {
  grid-column: 4 / 5;
}



/******************************************
/* ON CAMERA PAGE
/*******************************************/

.oncam-main {
  padding: 0;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

.sticky-nav img{
  height: 60px;
  width: 60px;
  border: 0;
  margin-bottom: 8px;
}

.sticky-nav ul {
  background-color: var(--yellow-color);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
  color: black;
}

.sticky-nav ul li {
  display: flex;
  flex-direction: column;
}

.sticky-nav ul li a {
  text-decoration: none;
  color: var(--offwhite-color);
  font-size: 16px;
  font-weight: 600;
}

.sticky-nav ul li a i {
  font-size: 60px;
  padding-bottom: 8px;
}

.sticky-nav ul li a i,
.sticky-nav ul li a span {
  display: flex;
}

.nav-item {
  display: flex;
  flex-direction: column;
}



#reels-section iframe{
  padding: 20px 0;
}

#reels-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iframe-wrapper {
  position: relative;
}


#acting-resume {
  background-image: 
    linear-gradient(var(--offwhite-color)30%, 
          var(--pink-color)30%, 
          var(--pink-color)50%, 
          var(--yellow-color)50%, 
          var(--yellow-color)70%,
          var(--teal-color)70%,
          var(--teal-color)90%,
          var(--offwhite-color)90%);
}

#writing-resume {
  background-image: 
  linear-gradient(var(--offwhite-color)30%, 
        var(--pink-color)30%, 
        var(--pink-color)50%, 
        var(--yellow-color)50%, 
        var(--yellow-color)70%,
        var(--teal-color)70%,
        var(--teal-color)100%)
}


#reels-section h1,
#acting-resume h2,
#writing-resume h2, 
#headshots h2,
#candid h2,
#production h2{
  font-size: clamp(3.5rem, 8vw, 500px);
}

#writing-resume embed {
  padding-bottom: 60px;
}



/******************************************
/* HEADSHOT GALLERY
/*******************************************/


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 0 120px;
}

.headshot-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.headshot-wrapper img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.overlayY {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fec701c3;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.headshot-wrapper:hover .overlayY {
  opacity: 1;
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a5e63e9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 23;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  z-index: 18;
}

.hidden {
  display: none;
}

/******************************************
/* CANDID GALLERY
/*******************************************/

.masonry-gallery {
  column-count: 3;
  column-gap: 1em;
  margin: 0 120px;
}

.masonry-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1em;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c64191cc;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.masonry-wrapper:hover .overlay {
  opacity: 1;
}

.masonry-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}


.overlayT {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1cb0a9d5;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.masonry-wrapper:hover .overlayT {
  opacity: 1;
}

/******************************************
/* FILMS PAGE
/*******************************************/


.film-container {
  display: flex;
  flex-direction: row-reverse;

  margin: 60px 10%;
  border: double 8px var(--yellow-color);
  border-radius: 20px;
  box-shadow: 1px 1px 2px black, 10px 10px 8px var(--pink-color);
}

.film-container img {
  margin: 30px;
  height: 453px;
  width: 295px;
  border: 11px groove var(--yellow-color);
  box-shadow: 1px 1px 2px black, 10px 10px 5px var(--pink-color);
  border-radius: 20px;
}

.film-text {
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 60px;
  align-self: center;
}

.film-text h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 60px;
  color: var(--yellow-color);
}

.film-text span {
  padding-bottom: 20px;
  color: var(--darkgreen-color);
  font-size: 20px;
  font-weight: 500;
}


.film-text a {
  text-align: center;
  text-decoration: none;
  color: white;  
  font-weight: 800;
  font-size: 15px; 
  width: 30%;
  padding: 10px 0;
  background-color: var(--yellow-color);
  border-radius: 20px;
  border: 3px solid var(--pink-color);
  transition: all 0.5s ease;
}

.film-text a:hover {
  box-shadow: 5px 5px 5px var(--pink-color);
  width: 60%;
}

.film-container:nth-child(3){
  flex-direction: row;
  border: double 8px var(--teal-color);
  box-shadow: 1px 1px 2px black, 10px 10px 8px var(--yellow-color);
}

.film-container:nth-child(3) h3 {
  color: var(--teal-color);
}

.film-container:nth-child(3) .film-text a {
  background-color: var(--teal-color);
  border: 3px solid var(--yellow-color);
}

.film-container:nth-child(3) img {
  border: 11px groove var(--teal-color);
  box-shadow: 1px 1px 2px black, 10px 10px 5px var(--yellow-color);
}

.film-container:nth-child(3) .film-text a:hover {
  box-shadow: 5px 5px 5px var(--yellow-color);
}

.film-container:nth-child(4){
  border: double 8px var(--pink-color);
  box-shadow: 1px 1px 2px black, 10px 10px 8px var(--teal-color);
}

.film-container:nth-child(4) h3 {
  color: var(--pink-color);
}

.film-container:nth-child(4) .film-text a {
  background-color: var(--pink-color);
  border: 3px solid var(--teal-color);
}

.film-container:nth-child(4) img {
  border: 11px groove var(--pink-color);
  box-shadow: 1px 1px 2px black, 10px 10px 5px var(--teal-color);
}

.film-container:nth-child(4) .film-text a:hover {
  box-shadow: 5px 5px 5px var(--pink-color);
}

.film-container:nth-child(5){
  flex-direction: row;
}

.film-container:nth-child(5) img{
  height: 392px;
}

/******************************************
/* BUTT STUFF PAGE
/*******************************************/

.butt-main {
  padding: 0 0;
}

.butt-hero-container, 
.norman-hero-container,
.plug-hero-container {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.butt-hero-container .butthead,
.norman-hero-container .normhead,
.garden-hero-container .gardenhead,
.plug-hero-container .plughead  {
  width: 1100px;
  height: auto;
  position: relative;
}

.butt-hero-container .butttitle {
  position: absolute;
  top: 160px;
  left: 20px;
}

.norman-hero-container .normantitle {
  position: absolute;
  top: 90px;
  left: 600px;
}

.garden-hero-container .gardentitle {
  position: absolute;
  top: 90px;
  left: 800px;
}

.plug-hero-container .plugtitle {
  position: absolute;
  top: 50px;
  left: 550px;
}

.plug-hero-container span {
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 210px;
  left: 700px;
}

.plug-hero-container a{
  color: var(--offwhite-color);
}

.butt-hero-container span {
  color: black;
  font-weight: 600;
  font-size: 50px;
  position: absolute;
  top: 300px;
  left: 80px;
}

.norman-hero-container span {
  color: var(--offwhite-color);
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 200px;
  left: 670px;
}

.garden-hero-container span {
  color: var(--offwhite-color);
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 330px;
  left: 808px;
}

.garden-hero-container a {
  color: var(--offwhite-color);
}

.forty-eight-logo {
  position: absolute;
  top: 300px;
  left: 870px;
}

.butt-body h1,
.butt-body h2 {
  color: var(--pink-color);
}

.film-about {
  margin: 40px;
  display: flex;
  justify-content: center;
  text-align: left;
}

.film-about img {
  border: 10px groove #00848d97
}

.film-about h1 {
  font-size: 4rem;
  padding-bottom: 30px;
}

.about-text{
  width: 500px;
  padding-left: 60px;
}

.about-text a{
  padding-top: 15px;
  display: block;
}

.about-text h3 {
  color: var(--teal-color);
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 55px;
}

.about-text span:last-child{
  font-size: 10px;
}

.stills {
  background-color: var(--pink-color);
  padding: 10px 10px 40px 10px;
}

.norm-stills {
  background-color: var(--teal-color);
}

.stills h4 {
  font-size: 2.5rem;
  color: white;  
}

#butt-bts-thumbs-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0 0 20px 20px;
}

#butt-bts-thumbs-wrapper,
#butt-bts-thumbs {
  background-color: var(--pink-color);
}

.bts {
  padding: 20px;
}

.bts h4{
  font-size: 2.5rem;
  color: var(--pink-color);
}

.faq {
  padding: 20px 0 40px 0;
  background-color: var(--pink-color);
  color: var(--offwhite-color);
  display: block;
  position: relative;
}

.faq h4 {
  font-size: 2.5rem;
  font-weight: 800;
}

.faq span {
  text-align: left;
  display: block;
  margin: 0 15%;
  font-size: 1.2rem;
}

.faq span:nth-child(2n-2) {
  font-weight: 800;
  margin-top: 20px;
}

.faq img {
  position: absolute;
  top: 220px;
  left: 930px;
}

.credits {
  padding: 30px;
}

.norman-main .credit-wrapper {
  height: 230px;
}

.norman-main a {
  color: var(--offwhite-color);
}

.credits h4 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--pink-color);
}

.credits h6{
  padding-top: 20px;
  font-weight: 600;
}

.credit-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1000px;
  height: 250px;
}

.credit-wrapper span
.credit-wrapper h6 {
  width: 260px;
  word-wrap: b;
}

.other-films {
  background-color: var(--pink-color);
  margin: 0;
  padding: 15px 0;
  font-size: 2.0rem;
  color: var(--offwhite-color);
}

.norm-body .other-films {
  background-color: var(--teal-color);
}

.other-films img {
  height: 457px;
  width: auto;
  margin: 15px;
  border: 13px groove var(--yellow-color);
}

/******************************************
/* PULLING THE PLUG ON MOM PAGE
/*******************************************/

.plug-stills {
  background-color: var(--teal-color);
}

.plug-body .credits h4{
  color: var(--teal-color);
}

.plug-body .credits {
  font-size: 1.2rem;
}

.plug-body .other-films {
  background-color: var(--teal-color);
}



/******************************************
/* THIS IS A GARDEN PAGE
/*******************************************/

.garden-body {
  background-color: var(--pink-color);
}

.garden-body .other-films img{
  border: 13px groove var(--pink-color);
}

.garden-about img {
  border: 13px groove var(--yellow-color);
}

.garden-about h1,
.garden-about h3 {
  color: var(--yellow-color);
}

.garden-stills {
  background-color: var(--yellow-color);
}

#garden-thumbs-wrapper,
#garden-thumbs {
  background-color: var(--pink-color);
}

.garden-bts-stills {
  background-color: var(--offwhite-color);
  color: var(--yellow-color);
}

.garden-bts-stills h4 {
  color: var(--yellow-color);
}

.now-kiss {
  width: 1100px;
}

.garden-body .credits h4{
  color: var(--yellow-color);
}

.garden-body .other-films {
  background-color: var(--yellow-color);
}

/******************************************
/* NORMAN PAGE
/*******************************************/

.norm-body {
  background-color: var(--yellow-color);
}

.norm-body .other-films img{
  border: 13px groove var(--teal-color);
}

.norm-body .credits h4{
  color: var(--teal-color);  
}

/******************************************
/* PODCAST PAGE
/*******************************************/

.podcasts-main h1{
  font-size: 3.5rem;
  margin: 0 20px 60px 20px;
}

.podcasts {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1100px;
  height: 430px;
  gap: 40px;
}

.podcasts img {
  height: 180px;
}


/******************************************
/* WRITING PAGE
/*******************************************/

.writing-main {
  text-align: left;
  padding-left: 80px;
}

.writing-main h2 {
  margin: 0px;
  padding-top: 50px;
  font-size: 4rem;
}

.writing-main span {
  display: block;
  font-size: 1.5rem;
  color: var(--darkgreen-color);
  padding-top: 10px;
}

.writing-main a {
  display: block;
  text-decoration: underline;
  font-size: 1.5rem;
  text-decoration-thickness: 1px;
  padding-top: 10px;
}

.writing-main h4 {
  font-size: 2rem;
  color: var(--pink-color);
}

.footer-center > a {
  width: 40px ;
  margin: 0 auto;
}


/******************************************
/* MAILCHIMP MAILING LIST AND CONTACT FORM
/*******************************************/


#mc_embed_signup {
  height: 100px;
}

#mc_embed_signup h2{
  color: var(--offwhite-color);
  padding: 0 !important;
  margin: 0 !important;
}

#mc-embedded-subscribe-form {
  margin: 0 !important;
}

#mc-embedded-subscribe {
  background-color: var(--pink-color) !important;
}

.contact-main {
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  position: relative;
}

.contact-main span {
  display: block;
}

.contact-subtitle{
  margin: 60px 0 40px 0;
  font-weight: 800;
  color: var(--pink-color);
}

.embed-contact {
  margin: 0 auto;
  width: 800px !important;
}

.helper_text {
  background-color: var(--offwhite-color) !important;
}

#mc-embedded-contact {
  height: 50px !important;
  font-weight: 800 !important;
  background-color: var(--yellow-color) !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  margin: 0 !important;
}

#mc-embedded-subscribe-form{
  width: 60% !important;
  margin: 0 auto !important;
}


.big-contact {
  display: inline-block;
  margin: 10px;
}

.big-contact label {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--darkgreen-color);
}

.big-contact input {
  background-color: var(--teal-color);
}

#mc_embed_signup .mc-field-group .details {
  height: 200px !important;
}

.agents {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.3rem;
}

.agents section span{
  padding: 2px;
  color: var(--darkgreen-color);
}

.agents section span:first-of-type{
  font-size: 1rem;
  font-weight: 300;
}

.agents section span:nth-child(3){
  font-weight: 600;
}

.fun-april-poses {
  margin-top: 20px;
  background-color: var(--yellow-color);
  position: relative;
  width: 1100px;
}

.fun-april-poses img{
  padding: 20px 10px 20px 10px; 
  margin-bottom: -60px; 
}

.bottom-quote {
  background-color: var(--pink-color);
  color: var(--offwhite-color);
  font-size: 2.5rem;
  padding: 10px 40px;
  position: absolute;
  top: 300px;
  left: -610px;
  width: 2300px;

}